@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=MuseoModerno&display=swap');

/* font-family: 'Krona One', sans-serif;
font-family: 'MuseoModerno', cursive; */

* {
  font-family: 'MuseoModerno', cursive;
  color: #FFE300
}

body {
  background-image: url('andy-holmes-LUpDjlJv4_c-unsplash.jpg');
  background-size: cover;
}

button, select, input {
  margin: 0 1rem;
  background-color: transparent;
}

button:hover, select:hover, input:hover {
  background-color: rgb(47, 104, 104);
}

label {
  margin-left: 1rem;
}

form, ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

fieldset {
  padding: 3rem;
}

ul {
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
}

li {
  list-style-type: none;
}